.cool-background {
    background-color: rgb(32, 16, 41);
}

.body-background { 
    background-color: rgb(19, 19, 19);
}

img {
    max-width: 100%;
    height: auto;
}

* {
    color: rgb(222, 222, 222)
}