<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>da frostywoofs zone</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../simple-grid.css">
    <link rel="stylesheet" href="../cool.css">
    <script src='../main.js'></script>
</head>

<body class="container cool-background">
    <div class="row">
        <div class="col-10 body-background" style="padding: 4em;">
            {{content}}
        </div>
    </div>
</body>